[mysqld]
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 0
innodb_buffer_pool_size=1G
innodb_parallel_read_threads=4
innodb_parallel_write_threads=4
innodb_parallel_recovery_threads=4
